.checkpoints
__pycache__
bpe/*
!bpe/bpe_simple_vocab_16e6.txt.gz
outputs/**/*.npy
outputs/**/*.png
configs/legacy/*
legacy
imagebind/models/.ipynb_checkpoints
*.sh
data/*
BindDiffusion/image_generation.py
PandaGPT/code/text_generation_demo.ipynb
PandaGPT/code/text_generation.py